footer {
    position: fixed; /* Positionnement fixe */
    bottom: 0; /* Aligner le bas du pied de page avec le bas de la fenêtre du navigateur */
    width: 100%; /* Utiliser toute la largeur de la fenêtre */
    background-color: #333; /* Couleur d'arrière-plan */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement interne */
    text-align: center; /* Alignement du texte au centre */
}
