/* sass/styles.css */

body {
    font-family: Arial, sans-serif; /* Police de caractères par défaut */
    margin: 20px; /* Ajoute des marges autour du contenu */
    padding: 0; /* Supprime le rembourrage par défaut */
    background-color: #f0f0f0; /* Couleur d'arrière-plan */
    color: #333; /* Couleur de texte par défaut */
}

/* sass/styles.css */

h1 {
    font-size: 28px; /* Taille de la police */
    text-align: center; /* Alignement centré */
    margin-top: 20px; /* Ajout d'une marge supérieure */
    margin-bottom: 20px; /* Ajout d'une marge supérieure */
}


.container {
    margin-top: 20px; /* Ajout d'une marge supérieure pour le contenu */
}
/* sass/styles.css */

main {
    margin: 20px auto; /* Centre le contenu horizontalement */
    max-width: 800px; /* Limite la largeur du contenu pour éviter qu'il ne devienne trop large sur les grands écrans */
    display: flex; /* Utilisation de flexbox */
    flex-direction: column; /* Empile les éléments en colonne */
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
}
